<% content_for(:styles) do -%>
  #shows.list .name , 
  #shows.list .owner {
    display: inline;
  }
  .show { margin-bottom: 10px; }
<% end -%>
<h1>Shows</h1>
<div class="admin menu"><%= link_to "New Show", new_show_path %></div>
<div class="list" id="shows">
  <%= render :partial=>'shows/show.html', :collection=>@shows %>
</div>
